force-app/main/default/flows/Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_Currency_Action_1</name>
        <label>Format ARR (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_Currency_Action_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varARR_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_Currency_Action_2</name>
        <label>Format ACV (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_Currency_Action_3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varACV_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_Currency_Action_3</name>
        <label>Format TCV (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_Currency_Action_4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varTCV_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_Currency_Action_4</name>
        <label>Format Active ARR (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_Currency_Action_5</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varActiveARR_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_Currency_Action_5</name>
        <label>Format MRR (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Formatted_USD_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varMRR_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Active_ARR</name>
        <label>Add Active Revenue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ARR__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Assets.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ACV__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Assets.Total_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Active_ARR__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Assets.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varARR_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forARR_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varACV_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forACV_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActiveARR_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forARR_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMRR_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forMRR_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActiveAssetCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Revenue_Totals</name>
        <label>Add Revenue Totals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.TCV__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Assets.Total_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTCV_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forTCV_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalAssetCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAssetsStartedCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forAssetHasStarted</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Asset_Active</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Status_Activated</name>
        <label>Assign Contract Status = Activated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Revenue_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Status_Expired</name>
        <label>Assign Contract Status = Expired</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Formatted_USD_Fields</name>
        <label>Assign Formatted USD Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ARR_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_Currency_Action_1.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ACV_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_Currency_Action_2.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TCV_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_Currency_Action_3.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Active_ARR_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_Currency_Action_4.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MRR_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_Currency_Action_5.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revenue_Calculations</name>
        <label>Assign Revenue Calculations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_MRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Incremental_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_iARR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nullify_Revenue_Fields</name>
        <label>Nullify Revenue Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Active_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varARR_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varACV_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTCV_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varActiveARR_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMRR_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Assets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contract_Start_End_Dates</name>
        <label>Check Contract Start &amp; End Dates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Before_Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>Before Start Date</label>
        </rules>
        <rules>
            <name>Within_Start_End_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_from_Status_Updates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Status_Activated</targetReference>
            </connector>
            <label>Within Start &amp; End Dates</label>
        </rules>
        <rules>
            <name>Outcome_3_of_Check_Contract_Start_End_Dates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exclude_from_Status_Updates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Status_Expired</targetReference>
            </connector>
            <label>After End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Asset_Active</name>
        <label>Is Asset Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Related_Assets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Asset_is_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Related_Assets.Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Related_Assets.End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Related_Assets.ProductFamily</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Professional Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Active_ARR</targetReference>
            </connector>
            <label>Asset is Active</label>
        </rules>
    </decisions>
    <description>2025-07-17 | Added paths for contract status change type; starting revenue looks up to opportunity, expired revenue stops recalculating</description>
    <environments>Default</environments>
    <formulas>
        <name>forACV_USD</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Related_Assets.Total_Price__c} * {!Loop_Related_Assets.Exchange_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forARR_USD</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Related_Assets.ARR__c} * {!Loop_Related_Assets.Exchange_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forAssetHasStarted</name>
        <dataType>Number</dataType>
        <expression>IF({!Loop_Related_Assets.Start_Date__c} &lt;= TODAY(), 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forC_iARR</name>
        <dataType>Currency</dataType>
        <expression>IF(ISNULL({!$Record.Previous_ARR__c}), {!$Record.ARR__c}, {!$Record.ARR__c} - {!$Record.Previous_ARR__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_MRR</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ARR__c} / 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formatActiveARR_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varActiveARR_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>formatACV_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varACV_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>formatARR_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varARR_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>formatMRR_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varMRR_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>formatTCV_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varTCV_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>forMRR_USD</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Related_Assets.MRR__c} * {!Loop_Related_Assets.Exchange_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forTCV_USD</name>
        <dataType>Currency</dataType>
        <expression>{!Loop_Related_Assets.Total_Value__c} * {!Loop_Related_Assets.Exchange_Rate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Contract | {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow | Daily | Update Contracts</label>
    <loops>
        <name>Loop_Related_Assets</name>
        <label>Loop Related Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Revenue_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Format_Currency_Action_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Assets</name>
        <label>Get Related Assets</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exclude_from_Status_Updates__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ARR__c</queriedFields>
        <queriedFields>MRR__c</queriedFields>
        <queriedFields>Total_Value__c</queriedFields>
        <queriedFields>Total_Price__c</queriedFields>
        <queriedFields>Exchange_Rate__c</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>End_Date__c</queriedFields>
        <queriedFields>ProductFamily</queriedFields>
        <queriedFields>Exclude_from_Status_Updates__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contract_Start_End_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <object>Contract</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-17</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>varActiveARR_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varActiveAssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varACV_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varARR_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAssetsStartedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMRR_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTCV_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varTotalAssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
