force-app/main/default/flows/Opp_After_Save_Churn_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Churn_Slack_Notification</name>
        <label>Send Churn Slack Notification</label>
        <locationX>374</locationX>
        <locationY>684</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Update_Deal_Won_Event_Created_to_TRUE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TUH9RUFTK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <elementReference>forT_ChurnAlert_Channel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>TT_ChurnAlert_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Assign_Production_Environment_Async</name>
        <label>Assign Production Environment</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varT_Environment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Production</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Churn_Slack_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sandbox_Environment_Async</name>
        <label>Assign Sandbox Environment</label>
        <locationX>506</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varT_Environment</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sandbox</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Churn_Slack_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>What_is_Current_Environment_Async</name>
        <label>What is Current Environment?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Assign_Sandbox_Environment_Async</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sandbox</defaultConnectorLabel>
        <rules>
            <name>Production_Async</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_isSandbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Production_Environment_Async</targetReference>
            </connector>
            <label>Production</label>
        </rules>
    </decisions>
    <description>Triggers on Closed Lost opportunities with Deal Type = Churn and Record Type = Existing Customer. Sends real-time Slack notifications for churn events to enable immediate retention coordination.</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_ChurnAlert_Channel</name>
        <dataType>String</dataType>
        <expression>CASE({!varT_Environment},
    &quot;Production&quot;,&quot;C05KN98CAHF&quot;,
    &quot;Sandbox&quot;,&quot;C090R82MJ6L&quot;, 
    &quot;C090R82MJ6L&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_OpportunityOwnerSlack</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Owner.Slack_User_ID__c}), {!$Record.Owner.FirstName} &amp; &quot; &quot; &amp; {!$Record.Owner.LastName}, &quot;&lt;@&quot; &amp; {!$Record.Owner.Slack_User_ID__c} &amp; &quot;&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_URL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &apos;/services&apos;, $Api.Partner_Server_URL_260)) + {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Opp After Save | Churn Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp After Save | Churn Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Org_Type_Async</name>
        <label>Get Org Type</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_Current_Environment_Async</targetReference>
        </connector>
        <object>Organization</object>
        <outputAssignments>
            <assignToReference>varB_isSandbox</assignToReference>
            <field>IsSandbox</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deal_Won_Event_Created_to_TRUE</name>
        <label>Update Deal Won Event Created to TRUE</label>
        <locationX>374</locationX>
        <locationY>792</locationY>
        <inputAssignments>
            <field>Deal_Won_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <filters>
            <field>Deal_Won_Event_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Org_Type_Async</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TT_ChurnAlert_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>🚨 *CHURN ALERT - Customer Lost* 🚨

*Account:* {!$Record.Account.Name}
*Lost Opportunity:* &lt;{!forT_URL}|{!$Record.Name}&gt;
*Owner:* {!forT_OpportunityOwnerSlack}
*ARR:* {!$Record.CurrencyIsoCode} {!$Record.ARR_RUS__c}
*Renewal Date:* {!$Record.Contract_Start_Date__c}
*Loss Reason:* {!$Record.Win_Loss_Reason__c}</text>
    </textTemplates>
    <variables>
        <name>varB_isSandbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_Environment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
