force-app/main/default/flows/Opportunity_After_Save_Contract_and_Asset_Management.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Init_Asset</name>
        <label>Init Asset</label>
        <locationX>402</locationX>
        <locationY>2825</locationY>
        <assignmentItems>
            <assignToReference>recAsset.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Price</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Original_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recContract.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_AssetStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Term_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Annual_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Annual_Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Billing_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Billing_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Originating_OLI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Include_in_ARR_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Include_in_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Include_in_ARR_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Include_in_ARR_Sum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Prorated_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Prorated_Unit_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Term_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.CPUh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.CPUh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Term_Length_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Term_Length_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.PurchaseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Opportunity.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Billing_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAsset.Exchange_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Exchange_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_colAsset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_colAsset</name>
        <label>Init colAsset</label>
        <locationX>402</locationX>
        <locationY>2933</locationY>
        <assignmentItems>
            <assignToReference>colAsset</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAsset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sync_OLI_to_Renewal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_colOCR</name>
        <label>Init colOCR</label>
        <locationX>314</locationX>
        <locationY>2309</locationY>
        <assignmentItems>
            <assignToReference>colOCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recOCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_colOLI</name>
        <label>Init colOLI</label>
        <locationX>490</locationX>
        <locationY>3365</locationY>
        <assignmentItems>
            <assignToReference>colOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Contract_Insert</name>
        <label>Init Contract Insert</label>
        <locationX>226</locationX>
        <locationY>1121</locationY>
        <assignmentItems>
            <assignToReference>recContract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TCV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Term_Length_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Term_Length_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_PreviousContractId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Term_Length_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ARR_RUS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Initial_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ARR_RUS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Initial_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TCV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Initial_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ACV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Initial_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MRR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varC_PreviousARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varC_PreviousACV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varC_PreviousTCV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varC_PreviousMRR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.ARR_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_ARR_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Initial_ACV_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_ACV_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.ACV_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_ACV_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_ARR_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varN_PreviousARR_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Initial_ARR_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_ARR_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_ACV_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varN_PreviousACV_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.MRR_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_MRR_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_MRR_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varN_PreviousMRR_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Initial_MRR_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_MRR_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Previous_TCV_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varN_PreviousTCV_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.TCV_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_TCV_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Initial_TCV_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_TCV_Reporting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Incremental_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incremental_ARR_calc__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Incremental_ARR_USD_Reporting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_IncrementalARR_Reporting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Contract_Update</name>
        <label>Init Contract Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>recContract.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_ContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recContract.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Current_Contract.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OCR</name>
        <label>Init OCR</label>
        <locationX>314</locationX>
        <locationY>2201</locationY>
        <assignmentItems>
            <assignToReference>recOCR.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OCRs.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOCR.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OCRs.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOCR.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recRenewalOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_colOCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OLI</name>
        <label>Init OLI</label>
        <locationX>490</locationX>
        <locationY>3257</locationY>
        <assignmentItems>
            <assignToReference>recOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recRenewalOpp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Include_in_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Include_in_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Include_in_ARR_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Include_in_ARR_Sum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Term_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_RenewalOLIStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.CPUh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.CPUh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Term_Length_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OLIs.Term_Length_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Term_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_RenewalOLIEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Renewal_PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_colOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Renewal_Opp</name>
        <label>Init Renewal Opp</label>
        <locationX>226</locationX>
        <locationY>1661</locationY>
        <assignmentItems>
            <assignToReference>recRenewalOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Contract_Opp_RT.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Starting_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ARR_RUS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_RenewalOppStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Term_Length_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Contract_Billing_Frequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contract_Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recRenewalOpp.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Region__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>842</locationX>
        <locationY>3749</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Opportunity_Type</name>
        <label>Opportunity Type</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Unsupported</defaultConnectorLabel>
        <rules>
            <name>New_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Sales_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Exchange_Rate</targetReference>
            </connector>
            <label>New Contract</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing_Customer_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Previous_Contract</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
        <rules>
            <name>Change_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing_Customer_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Current_Contract</targetReference>
            </connector>
            <label>Change Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sync_OLI_to_Renewal</name>
        <label>Sync OLI to Renewal</label>
        <locationX>402</locationX>
        <locationY>3041</locationY>
        <defaultConnector>
            <targetReference>Get_Renewal_PricebookEntry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sync</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Sync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OLIs.Sync_to_Renewal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OLIs</targetReference>
            </connector>
            <label>Do Not Sync</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forCalculatedMRR_USD</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.MRR__c} * {!Get_Current_Exchange_Rate.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forCalculatedTCV_USD</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.TCV__c} * {!Get_Current_Exchange_Rate.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forD_ContractEndDate</name>
        <dataType>Date</dataType>
        <expression>IF({!$Record.Contract_End_Date__c} &gt; {!Get_Current_Contract.EndDate}, {!$Record.Contract_End_Date__c}, {!Get_Current_Contract.EndDate})</expression>
    </formulas>
    <formulas>
        <name>forD_RenewalOLIEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!forD_RenewalOppStartDate}, 12) - 1</expression>
    </formulas>
    <formulas>
        <name>forD_RenewalOLIStartDate</name>
        <dataType>Date</dataType>
        <expression>{!recRenewalOpp.Contract_Start_Date__c}</expression>
    </formulas>
    <formulas>
        <name>forD_RenewalOppStartDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Contract_End_Date__c} + 1</expression>
    </formulas>
    <formulas>
        <name>form_AssetStatus</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS(UPPER({!Loop_OLIs.Product2.Name}), &quot;PROFESSIONAL SERVICES&quot;), 
  &quot;One-time&quot;,
  IF(
    {!Loop_OLIs.Term_Start_Date__c} &lt;= TODAY(),
    &quot;Active&quot;,
    &quot;Purchased&quot;
  )
)</expression>
    </formulas>
    <formulas>
        <name>form_ContractEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(ISBLANK({!recContract.EndDate}), TODAY()+365, {!recContract.EndDate})</expression>
    </formulas>
    <formulas>
        <name>forN_ACV_Reporting</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ACV__c} * {!Get_Current_Exchange_Rate.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forN_ARR_Reporting</name>
        <dataType>Number</dataType>
        <expression>{!$Record.ARR_RUS__c} * {!Get_Current_Exchange_Rate.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forN_IncrementalARR_Reporting</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Incremental_ARR_calc__c} * {!Get_Current_Exchange_Rate.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forN_MRR_Reporting</name>
        <dataType>Number</dataType>
        <expression>{!$Record.MRR__c} * {!Get_Current_Exchange_Rate.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forN_TCV_Reporting</name>
        <dataType>Number</dataType>
        <expression>{!$Record.TCV__c} * {!Get_Current_Exchange_Rate.ConversionRate}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity After Save | Contract and Asset Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Save | Contract and Asset Management</label>
    <loops>
        <name>Loop_OCRs</name>
        <label>Loop OCRs</label>
        <locationX>226</locationX>
        <locationY>2093</locationY>
        <collectionReference>Get_OCRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_OCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OCRs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OLIs</name>
        <label>Loop OLIs</label>
        <locationX>226</locationX>
        <locationY>2717</locationY>
        <collectionReference>Get_All_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_Asset</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Assets</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Assets</name>
        <label>Create Assets</label>
        <locationX>226</locationX>
        <locationY>3641</locationY>
        <connector>
            <targetReference>Create_OLIs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>colAsset</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>226</locationX>
        <locationY>1229</locationY>
        <connector>
            <targetReference>Update_Account_Currency</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>recContract</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OCRs</name>
        <label>Create OCRs</label>
        <locationX>226</locationX>
        <locationY>2501</locationY>
        <connector>
            <targetReference>Get_All_OLIs</targetReference>
        </connector>
        <inputReference>colOCR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OLIs</name>
        <label>Create OLIs</label>
        <locationX>226</locationX>
        <locationY>3749</locationY>
        <inputReference>colOLI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>226</locationX>
        <locationY>1769</locationY>
        <connector>
            <targetReference>Update_Contract_with_Renewal</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputReference>recRenewalOpp</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_OLIs</name>
        <label>Get All OLIs</label>
        <locationX>226</locationX>
        <locationY>2609</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contract</name>
        <label>Get Current Contract</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Contract_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Exchange_Rate</name>
        <label>Get Current Exchange Rate</label>
        <locationX>226</locationX>
        <locationY>1013</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Contract_Insert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DatedConversionRate</object>
        <sortField>StartDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Contract_Opp_RT</name>
        <label>Get Existing Contract Opp RT</label>
        <locationX>226</locationX>
        <locationY>1553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_Renewal_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing_Customer_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OCRs</name>
        <label>Get OCRs</label>
        <locationX>226</locationX>
        <locationY>1985</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OCRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Contract</name>
        <label>Get Previous Contract</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Exchange_Rate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Renewal_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputAssignments>
            <assignToReference>varN_PreviousACV_Reporting</assignToReference>
            <field>ACV_USD_Reporting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varC_PreviousACV</assignToReference>
            <field>ACV__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varN_PreviousARR_Reporting</assignToReference>
            <field>ARR_USD_Reporting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varC_PreviousARR</assignToReference>
            <field>ARR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varT_PreviousContractId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varN_PreviousMRR_Reporting</assignToReference>
            <field>MRR_USD_Reporting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varC_PreviousMRR</assignToReference>
            <field>MRR__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varN_PreviousTCV_Reporting</assignToReference>
            <field>TCV_USD_Reporting__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varC_PreviousTCV</assignToReference>
            <field>TCV__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Opp</name>
        <label>Get Renewal Opp</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_All_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Contract.Renewal_Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>recRenewalOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <queriedFields>Contract_End_Date__c</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_PricebookEntry</name>
        <label>Get Renewal PricebookEntry</label>
        <locationX>490</locationX>
        <locationY>3149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Init_OLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_OLIs.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recRenewalOpp.Pricebook2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recRenewalOpp.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Currency</name>
        <label>Update Account Currency</label>
        <locationX>226</locationX>
        <locationY>1337</locationY>
        <connector>
            <targetReference>Update_Contract_on_Opp</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Get_Renewal_Opp</targetReference>
        </connector>
        <inputReference>recContract</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_on_Opp</name>
        <label>Update Contract on Opp</label>
        <locationX>226</locationX>
        <locationY>1445</locationY>
        <connector>
            <targetReference>Get_Existing_Contract_Opp_RT</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>recContract.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contract_with_Renewal</name>
        <label>Update Contract with Renewal</label>
        <locationX>226</locationX>
        <locationY>1877</locationY>
        <connector>
            <targetReference>Get_OCRs</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recContract.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>recRenewalOpp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opportunity_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colAsset</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>colOCR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>recContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recOCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>recOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recRenewalOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varC_PreviousACV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varC_PreviousARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varC_PreviousMRR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varC_PreviousTCV</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varN_PreviousACV_Reporting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varN_PreviousARR_Reporting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varN_PreviousMRR_Reporting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varN_PreviousTCV_Reporting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varT_PreviousContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
