force-app/main/default/flows/Opportunity_Product_After_Save_First_Year_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_OLI_to_Update_List</name>
        <label>Add OLI to Update List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colVarR_OLIsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_OLItoUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Include_in_ARR_Calculation_to_False</name>
        <label>Set Include in ARR Calculation to False</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_OLItoUpdate.Include_in_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OLItoUpdate.Include_in_ARR_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OLItoUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OLI_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Include_in_ARR_Calculation_to_True</name>
        <label>Set Include in ARR Calculation to True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varR_OLItoUpdate.Include_in_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OLItoUpdate.Include_in_ARR_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OLItoUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Related_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OLI_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Include_in_ARR_Calculation</name>
        <label>Include in ARR Calculation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Include_in_ARR_Calculation_to_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Include in ARR</defaultConnectorLabel>
        <rules>
            <name>Include_in_ARR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Related_Line_Items.Term_Start_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>forD_EarliestTermPlusOneYear</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Include_in_ARR_Calculation_to_True</targetReference>
            </connector>
            <label>Include in ARR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forD_EarliestTermPlusOneYear</name>
        <dataType>Date</dataType>
        <expression>IF(ISNULL({!Get_Opportunity_Details.Contract_Start_Date__c}), {!Get_First_Related_Line_Item_by_Term.Term_Start_Date__c} + 364, {!Get_Opportunity_Details.Contract_Start_Date__c} + 364)</expression>
    </formulas>
    <interviewLabel>Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product After Save | First Year Logic</label>
    <loops>
        <name>Loop_Related_Line_Items</name>
        <label>Loop Related Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_All_Related_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Include_in_ARR_Calculation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Line_Items</name>
        <label>Get All Related Line Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software Subscriptions</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Term_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Related_Line_Item_by_Term</name>
        <label>Get First Related Line Item by Term</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Related_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software Subscriptions</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <sortField>Term_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Details</name>
        <label>Get Opportunity Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_First_Related_Line_Item_by_Term</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Start_Date__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OLIs</name>
        <label>Update OLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colVarR_OLIsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Details</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colVarR_OLIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OLItoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
