force-app/main/default/flows/OpportunityLineItem_After_Save_Calculate_Billing_Amount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_Billing_Amount</name>
        <label>Set Billing Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_BillingAmountCalc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Professional_Service_Billing_Amount</name>
        <label>Set Professional Service Billing Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Billing_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TotalPrice</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Should_Calculate_Billing_Amount</name>
        <label>Should Calculate Billing Amount?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Skip Calculation</defaultConnectorLabel>
        <rules>
            <name>Calculate_Professional_Service_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnitPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Professional_Service_Billing_Amount</targetReference>
            </connector>
            <label>Calculate Professional Service Billing</label>
        </rules>
        <rules>
            <name>Calculate_Prorated_Billing_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.UnitPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Term_Length_Months__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Professional Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.QuoteLineItem__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Billing_Amount</targetReference>
            </connector>
            <label>Calculate Prorated Billing Amount</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forC_BillingAmountCalc</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.TotalPrice} * {!$Record.Term_Length_Months__c} / 12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>OpportunityLineItem After Save | Calculate Billing Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OpportunityLineItem After Save | Calculate Billing Amount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Should_Calculate_Billing_Amount</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>100</triggerOrder>
</Flow>
