force-app/main/default/flows/Opportunity_Product_Before_Save_First_Year_Logic.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_OLI_to_Update_List</name>
        <label>Add OLI to Update List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colVarR_OLIsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OLIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Include_in_ARR_Calculation_to_No</name>
        <label>Set Include in ARR Calculation to No</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_OLIs.Include_in_ARR_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OLI_to_Update_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Include_in_ARR_Calculation_to_Yes</name>
        <label>Set Include in ARR Calculation to Yes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_OLIs.Include_in_ARR_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_OLI_to_Update_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Include_in_ARR_Calculation</name>
        <label>Include in ARR Calculation?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_OLI_to_Update_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Override</defaultConnectorLabel>
        <rules>
            <name>Include_in_ARR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OLIs.Term_Start_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>forD_EarliestTermPlusOneYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Include_in_ARR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Include_in_ARR_Calculation_to_Yes</targetReference>
            </connector>
            <label>Include in ARR</label>
        </rules>
        <rules>
            <name>Don_t_Include_in_ARR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_OLIs.Term_Start_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>forD_EarliestTermPlusOneYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_OLIs.Include_in_ARR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Include_in_ARR_Calculation_to_No</targetReference>
            </connector>
            <label>Don&apos;t Include in ARR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forD_EarliestTermPlusOneYear</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Opportunity.Contract_Start_Date__c} + 365</expression>
    </formulas>
    <interviewLabel>Opportunity Product Before Save | First Year Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product Before Save | First Year Logic</label>
    <loops>
        <name>Loop_OLIs</name>
        <label>Loop OLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Related_OLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Include_in_ARR_Calculation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_OLIs</name>
        <label>Get Related OLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_OLIs</name>
        <label>Update OLIs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>colVarR_OLIsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_OLIs</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>colVarR_OLIsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Collection_Filter_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>varR_OLItoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
