force-app/main/default/flows/Scheduled_Flow_Monthly_Contract_Expiration_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Notification</name>
        <label>Send Slack Notification</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>TUH9RUFTK</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C090R82MJ6L</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>ContractExpirationMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Build_Final_Message_Text</name>
        <label>Build Final Message Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Message built via Text Template</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Contract_Count</name>
        <label>Increment Contract Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ContractCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContractLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_ContractLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContractLines</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_No_Contracts_Message</name>
        <label>Set No Contracts Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FinalMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>✅ No contracts expiring this month</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Slack_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Contracts_Found</name>
        <label>Check Contracts Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_No_Contracts_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contracts Found</defaultConnectorLabel>
        <rules>
            <name>Contracts_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Expiring_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Contracts</targetReference>
            </connector>
            <label>Contracts Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_First_Of_Month</name>
        <label>Check If First Of Month</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not First of Month</defaultConnectorLabel>
        <rules>
            <name>Is_First_Of_Month</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>form_IsFirstOfMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Expiring_Contracts</targetReference>
            </connector>
            <label>Is First Of Month</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_Exists</name>
        <label>Check Renewal Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Increment_Contract_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Renewal</defaultConnectorLabel>
        <rules>
            <name>Renewal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Renewal_Opportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_Owner</targetReference>
            </connector>
            <label>Renewal Exists</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>form_ContractLine</name>
        <dataType>String</dataType>
        <expression>&quot;• &lt;&quot; &amp; LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_260})) &amp; {!Loop_Contracts.Id} &amp; &quot;|&quot; &amp; {!Get_Account_Name.Name} &amp; &quot; - &quot; &amp; {!Loop_Contracts.ContractNumber} &amp; &quot;&gt; (Ends: &quot; &amp; TEXT({!Loop_Contracts.EndDate}) &amp; &quot;, ARR: &quot; &amp; TEXT({!Loop_Contracts.CurrencyIsoCode}) &amp; &quot; &quot; &amp; TEXT({!Loop_Contracts.Active_ARR__c}) &amp; &quot;, &quot; &amp; {!form_RenewalStatus} &amp; &quot;, Owner: &quot; &amp; {!form_OwnerName} &amp; &quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>form_ContractList</name>
        <dataType>String</dataType>
        <expression>{!var_ContractLines}</expression>
    </formulas>
    <formulas>
        <name>form_CurrentMonth</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH(TODAY())) &amp; &quot;/&quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>form_CurrentMonthEnd</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()) + 1, 1) - 1</expression>
    </formulas>
    <formulas>
        <name>form_CurrentMonthStart</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), MONTH(TODAY()), 1)</expression>
    </formulas>
    <formulas>
        <name>form_IsFirstOfMonth</name>
        <dataType>Boolean</dataType>
        <expression>DAY(TODAY()) = 1</expression>
    </formulas>
    <formulas>
        <name>form_OwnerName</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Renewal_Owner.Slack_User_ID__c}), {!Get_Renewal_Owner.FirstName} &amp; &quot; &quot; &amp; {!Get_Renewal_Owner.LastName}, &quot;&lt;@&quot; &amp; {!Get_Renewal_Owner.Slack_User_ID__c} &amp; &quot;&gt;&quot;)</expression>
    </formulas>
    <formulas>
        <name>form_RenewalStatus</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Renewal_Opportunity.StageName})), &quot;Renewal: No renewal opportunity&quot;, &quot;&lt;&quot; &amp; LEFT({!$Api.Partner_Server_URL_260}, FIND(&quot;/services&quot;, {!$Api.Partner_Server_URL_260})) &amp; {!Get_Renewal_Opportunity.Id} &amp; &quot;|Renewal&gt;: &quot; &amp; TEXT({!Get_Renewal_Opportunity.StageName}))</expression>
    </formulas>
    <interviewLabel>Scheduled Flow | Monthly | Contract Expiration Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow | Monthly | Contract Expiration Notifications</label>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Expiring_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Account_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Build_Final_Message_Text</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Name</name>
        <label>Get Account Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Renewal_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contracts.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Expiring_Contracts</name>
        <label>Get Expiring Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contracts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>form_CurrentMonthStart</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>form_CurrentMonthEnd</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContractNumber</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>Active_ARR__c</queriedFields>
        <queriedFields>Renewal_Opportunity__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Opportunity</name>
        <label>Get Renewal Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Renewal_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contracts.Renewal_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Owner</name>
        <label>Get Renewal Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Increment_Contract_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Renewal_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Slack_User_ID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_First_Of_Month</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-01</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ContractExpirationMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>📅 *Contract Expiration Alert - {!form_CurrentMonth}*

The following {!var_ContractCount} contract(s) expire this month:

{!var_ContractLines}</text>
    </textTemplates>
    <variables>
        <name>var_ContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ContractLines</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FinalMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
