force-app/main/default/flows/Scheduled_Flow_Daily_Update_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Format_ACV_USD</name>
        <label>Format ACV (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_TCV_USD</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varACV_USD_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_ARR_USD</name>
        <label>Format ARR (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_ACV_USD</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varARR_USD_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_iARR_USD</name>
        <label>Format iARR (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Final_Account_USD_Fields</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varIncrementalARR_USD_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_MRR_USD</name>
        <label>Format MRR (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_iARR_USD</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varMRR_USD_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Format_TCV_USD</name>
        <label>Format TCV (USD)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CurrencyFormatterHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Format_MRR_USD</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>varTCV_USD_Total</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CurrencyFormatterHelper</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Active_Contract_Count</name>
        <label>Add Active Contract Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varN_ActiveContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHasActiveContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Earliest_Active_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Active_Revenue</name>
        <label>Add Active Revenue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ARR__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contracts.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Incremental_ARR__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contracts.Incremental_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ACV__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contracts.ACV__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TCV__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contracts.TCV__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Contract_USD_Values</name>
        <label>Add Contract USD Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varARR_USD_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forContractARR_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varACV_USD_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forContractACV_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTCV_USD_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forContractTCV_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMRR_USD_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forContractMRR_USD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncrementalARR_USD_Total</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forContractIncrementalARR_USD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Active_Revenue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Expired_Contract_Count</name>
        <label>Add Expired Contract Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varN_NumExpiredContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Future_Contract_Count</name>
        <label>Add Future Contract Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varN_FutureContracts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Active_Account_Status</name>
        <label>Assign Active Account Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Final_Account_USD_Fields</name>
        <label>Assign Final Account USD Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ARR_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_ARR_USD.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ACV_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_ACV_USD.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TCV_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_TCV_USD.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MRR_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_MRR_USD.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Incremental_ARR_USD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Format_iARR_USD.formattedAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Open_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Revenue_Calculations</name>
        <label>Assign Revenue Calculations</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.MRR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_MRR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Active_Churning</name>
        <label>Assign Status = Active (Churning)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active (Churning)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Churned</name>
        <label>Assign Status = Churned</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Churned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Contracted</name>
        <label>Assign Status = Contracted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contracted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contracted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status_Prospect</name>
        <label>Assign Status = Prospect</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Revenue_Calculations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nullify_Revenue_Fields</name>
        <label>Nullify Revenue Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Incremental_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ACV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TCV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varARR_USD_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varACV_USD_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTCV_USD_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varMRR_USD_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varIncrementalARR_USD_Total</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contracts_With_Renewals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_All_Cancelled_Flag</name>
        <label>Set All Contracts Cancelled Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_AllContractsCancelled</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Earliest_Active_Contract</name>
        <label>Set Earliest Active Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varEarliestActiveContractDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contracts.StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varEarliestActiveContractCurrency</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Contracts.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contract_USD_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lost_Renewal_Flag</name>
        <label>Set Lost Renewal Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_HasLostRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lost_Renewal_Flag_And_Continue</name>
        <label>Set Lost Renewal Flag And Continue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_HasLostRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts_With_Renewals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Open_Renewal_Flag</name>
        <label>Set Open Renewal Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varB_HasOpenRenewal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contracts_With_Renewals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Currency</name>
        <label>Update Account Currency</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEarliestActiveContractCurrency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Format_ARR_USD</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Status</name>
        <label>Account Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Revenue_Calculations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Status Change</defaultConnectorLabel>
        <rules>
            <name>Null_To_Prospect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varN_FutureContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varN_ActiveContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Open_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Prospect</targetReference>
            </connector>
            <label>Null → Prospect (With Open Opportunities)</label>
        </rules>
        <rules>
            <name>Only_Future_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_FutureContracts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varN_ActiveContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Contracted</targetReference>
            </connector>
            <label>Future Contracts Only → Contracted</label>
        </rules>
        <rules>
            <name>Churning_To_Churned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active (Churning)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varN_ActiveContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varN_NumExpiredContracts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Churned</targetReference>
            </connector>
            <label>Active (Churning) + No Active Contracts → Churned</label>
        </rules>
        <rules>
            <name>Active_With_Lost_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varN_ActiveContracts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varB_HasLostRenewal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Active_Churning</targetReference>
            </connector>
            <label>Active + Lost Renewal → Active (Churning)</label>
        </rules>
        <rules>
            <name>Has_Active_Contracts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_ActiveContracts</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Active_Account_Status</targetReference>
            </connector>
            <label>Has Active Contracts → Active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Currency_Update</name>
        <label>Check Account Currency Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Format_ARR_USD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Currency Change Needed</defaultConnectorLabel>
        <rules>
            <name>Currency_Needs_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEarliestActiveContractCurrency</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CurrencyIsoCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varEarliestActiveContractCurrency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Currency</targetReference>
            </connector>
            <label>Currency Needs Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_All_Contracts_Cancelled</name>
        <label>Check All Contracts Cancelled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Lost_Renewals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not All Cancelled</defaultConnectorLabel>
        <rules>
            <name>All_Contracts_Are_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cancelled_Contracts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varN_ActiveContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varN_FutureContracts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_All_Cancelled_Flag</targetReference>
            </connector>
            <label>All Contracts Are Cancelled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Earliest_Active_Contract</name>
        <label>Check Earliest Active Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Contract_USD_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Earliest</defaultConnectorLabel>
        <rules>
            <name>Is_Earliest_Active_Contract</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varEarliestActiveContractDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contracts.StartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>varEarliestActiveContractDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Earliest_Active_Contract</targetReference>
            </connector>
            <label>Is Earliest Active Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Has_Renewal_Opportunity</name>
        <label>Check Has Renewal Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Contracts_With_Renewals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Loop</defaultConnectorLabel>
        <rules>
            <name>Has_Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contracts_With_Renewals.Renewal_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Renewal_Opportunity_Details</targetReference>
            </connector>
            <label>Has Renewal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Lost_Renewals</name>
        <label>Check Lost Renewals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Account_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Lost Renewals</defaultConnectorLabel>
        <rules>
            <name>Has_Lost_Renewals</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lost_Renewals</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lost_Renewal_Flag</targetReference>
            </connector>
            <label>Has Lost Renewals</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Renewal_Status</name>
        <label>Check Renewal Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Contracts_With_Renewals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue Loop</defaultConnectorLabel>
        <rules>
            <name>Renewal_Is_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRenewalOpportunity.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Open_Renewal_Flag</targetReference>
            </connector>
            <label>Renewal Is Open</label>
        </rules>
        <rules>
            <name>Renewal_Is_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRenewalOpportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varRenewalOpportunity.Deal_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Churn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lost_Renewal_Flag_And_Continue</targetReference>
            </connector>
            <label>Renewal Is Lost (Churn)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Active</name>
        <label>Is Contract Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Expired_Contract_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contract_Future</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contracts.StartDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contracts.Exclude_from_Status_Updates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHasActiveContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Future_Contract_Count</targetReference>
            </connector>
            <label>Contract Future</label>
        </rules>
        <rules>
            <name>Contract_Active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Contracts.StartDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contracts.EndDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Contracts.Exclude_from_Status_Updates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Active_Contract_Count</targetReference>
            </connector>
            <label>Contract Active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forC_MRR</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.ARR__c} / 12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forContractACV_USD</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE({!Loop_Contracts.ACV_USD__c}, &quot;$&quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forContractARR_USD</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE({!Loop_Contracts.ARR_USD__c}, &quot;$&quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forContractIncrementalARR_USD</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE({!Loop_Contracts.Incremental_ARR_USD__c}, &quot;$&quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forContractMRR_USD</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE({!Loop_Contracts.MRR_USD__c}, &quot;$&quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forContractTCV_USD</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE(SUBSTITUTE({!Loop_Contracts.TCV_USD__c}, &quot;$&quot;, &quot;&quot;), &quot;,&quot;, &quot;&quot;))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>formatAccountACV_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varACV_USD_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>formatAccountARR_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varARR_USD_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>formatAccountIncrementalARR_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varIncrementalARR_USD_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>formatAccountMRR_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varMRR_USD_Total}, 2))</expression>
    </formulas>
    <formulas>
        <name>formatAccountTCV_USD</name>
        <dataType>String</dataType>
        <expression>&quot;$&quot; + TEXT(ROUND({!varTCV_USD_Total}, 2))</expression>
    </formulas>
    <interviewLabel>Scheduled Flow | Daily | Update Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Scheduled Flow | Daily | Update Accounts</label>
    <loops>
        <name>Loop_Contracts</name>
        <label>Loop Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Contract_Active</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Account_Currency_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contracts_With_Renewals</name>
        <label>Loop Contracts With Renewals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contracts_With_Renewals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Has_Renewal_Opportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Cancelled_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cancelled_Contracts</name>
        <label>Get Cancelled Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_All_Contracts_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>Get Contracts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Nullify_Revenue_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ARR__c</queriedFields>
        <queriedFields>Incremental_ARR__c</queriedFields>
        <queriedFields>ACV__c</queriedFields>
        <queriedFields>TCV__c</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Exclude_from_Status_Updates__c</queriedFields>
        <queriedFields>ARR_USD__c</queriedFields>
        <queriedFields>ACV_USD__c</queriedFields>
        <queriedFields>TCV_USD__c</queriedFields>
        <queriedFields>MRR_USD__c</queriedFields>
        <queriedFields>Incremental_ARR_USD__c</queriedFields>
        <sortField>StartDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_With_Renewals</name>
        <label>Get Contracts With Renewals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contracts_With_Renewals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Renewal_Opportunity__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lost_Renewals</name>
        <label>Get Lost Renewals</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lost_Renewals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Churn</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opportunities</name>
        <label>Get Open Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lost_Renewals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Renewal_Opportunity_Details</name>
        <label>Get Renewal Opportunity Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Renewal_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Contracts_With_Renewals.Renewal_Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varRenewalOpportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Deal_Type__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Has_Contracts__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-18</startDate>
            <startTime>00:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Filter_for_Active_Contracts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varACV_USD_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varARR_USD_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varB_AllContractsCancelled</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_HasLostRenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_HasOpenRenewal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varEarliestActiveContractCurrency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEarliestActiveContractDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHasActiveContract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varIncrementalARR_USD_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varMRR_USD_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_ActiveContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_FutureContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_NumExpiredContracts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varRenewalOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varTCV_USD_Total</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
