force-app/main/default/flows/Screen_Flow_Contract_Create_Opportunity_Change_Order_and_Renewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Init_Change_Order_Opp</name>
        <label>Init Change Order Opp</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ChangeOrderName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Change Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_DefaultCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Starting_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Contract_End_Date_Override__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_colOCR</name>
        <label>Init colOCR</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>colOCR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recOCR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_colOLI</name>
        <label>Init colOLI</label>
        <locationX>754</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>colOLI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recOLI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OCR</name>
        <label>Init OCR</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>recOCR.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OCRs.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOCR.Role</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OCRs.Role</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOCR.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_colOCR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_OLI</name>
        <label>Init OLI</label>
        <locationX>754</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>recOLI.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recOpportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOLI.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Assets.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_colOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Renewal_Opp</name>
        <label>Init Renewal Opp</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_RenewalName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Deal_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Validation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Starting_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.ARR__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Contract_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forD_RenewalOppStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Term_Length_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.ContractTerm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Renewal_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Type</name>
        <label>Set Record Type</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recOpportunity.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Change_Order_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_Change_Order</name>
        <choiceText>Change Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change Order</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Renewal</name>
        <choiceText>Renewal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Renewal_Exists</name>
        <label>Check Renewal Exists</label>
        <locationX>336</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Type_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Show Both Options</defaultConnectorLabel>
        <rules>
            <name>Renewal_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_Record.Renewal_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Order_Only_Screen</targetReference>
            </connector>
            <label>Renewal Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Type_Decision</name>
        <label>Opportunity Type Decision</label>
        <locationX>622</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Init_Change_Order_Opp</targetReference>
            </connector>
            <label>Change Order</label>
        </rules>
        <rules>
            <name>Renewal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Type_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Init_Renewal_Opp</targetReference>
            </connector>
            <label>Renewal</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forD_DefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>forD_RenewalOppStartDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Contract_Record.EndDate} + 1</expression>
    </formulas>
    <formulas>
        <name>forT_ChangeOrderName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contract_Record.Account.Name} + &quot; - Change Order&quot;</expression>
    </formulas>
    <formulas>
        <name>forT_RenewalName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contract_Record.Account.Name} + &quot; - Renewal &quot; + TEXT(YEAR({!Get_Contract_Record.EndDate} + 1))</expression>
    </formulas>
    <interviewLabel>Screen Flow | Contract Create Opportunity | Change Order and Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow | Contract Create Opportunity | Change Order and Renewal</label>
    <loops>
        <name>Loop_Assets</name>
        <label>Loop Assets</label>
        <locationX>666</locationX>
        <locationY>1730</locationY>
        <collectionReference>Get_Contract_Assets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_OLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OLIs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_OCRs</name>
        <label>Loop OCRs</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <collectionReference>Get_Source_OCRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Init_OCR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_OCRs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Change_Order_Opportunity</name>
        <label>Create Change Order Opportunity</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>recOpportunity</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OCRs</name>
        <label>Create OCRs</label>
        <locationX>666</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Get_Contract_Assets</targetReference>
        </connector>
        <inputReference>colOCR</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OLIs</name>
        <label>Create OLIs</label>
        <locationX>666</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>colOLI</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Renewal_Opportunity</name>
        <label>Create Renewal Opportunity</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Contract_with_Renewal</targetReference>
        </connector>
        <inputReference>recOpportunity</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Contract_Assets</name>
        <label>Get Contract Assets</label>
        <locationX>666</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Assets</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductFamily</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Software Subscriptions</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductFamily</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Recurring Services</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_Record</name>
        <label>Get Contract Record</label>
        <locationX>336</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Renewal_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing_Customer_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_OCRs</name>
        <label>Get Source OCRs</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_OCRs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Source_Opp.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Source_Opp</name>
        <label>Get Source Opp</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Source_OCRs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Logo</stringValue>
            </value>
        </filters>
        <filters>
            <field>Deal_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing Logo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contract_with_Renewal</name>
        <label>Update Contract with Renewal</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Source_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>recOpportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contract</object>
    </recordUpdates>
    <screens>
        <name>Change_Order_Only_Screen</name>
        <label>Change Order Only Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Init_Change_Order_Opp</targetReference>
        </connector>
        <fields>
            <name>Change_Order_Info</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create Opportunity from Contract&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contract: {!Get_Contract_Record.ContractNumber} | Account: {!Get_Contract_Record.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A renewal opportunity already exists for this contract. You can only create a Change Order opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Change Order&lt;/b&gt; - Add products or modify terms for the existing contract&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Type_Screen</name>
        <label>Opportunity Type Screen</label>
        <locationX>622</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Opportunity_Type_Decision</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Create Opportunity from Contract&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Contract: {!Get_Contract_Record.ContractNumber} | Account: {!Get_Contract_Record.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select the type of opportunity to create:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Change Order&lt;/b&gt; - Add products or modify terms for the existing contract&lt;/p&gt;&lt;p&gt;&lt;b&gt;Renewal&lt;/b&gt; - Create a new contract to replace this one when it expires&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Opportunity_Type_Choice</name>
            <choiceReferences>Choice_Change_Order</choiceReferences>
            <choiceReferences>Choice_Renewal</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Opportunity Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>336</locationX>
        <locationY>2414</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(34, 139, 34); font-size: 16px;&quot;&gt;✓ Change Order Opportunity Created&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Opportunity: &lt;b&gt;{!recOpportunity.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/{!recOpportunity.Id}&quot;&gt;View Opportunity&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colOCR</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>colOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recOCR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>recOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
